/*
 * Copyright (c) 2019 PHYTEC Messtechnik GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	status = "okay";

	ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "SSD1306";
		width = <128>;
		height = <32>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		segment-remap;
		com-invdir;
		com-sequential;
		prechargep = <0x22>;
	};
};
&adc { /* ADC */
 status = "okay";
};
&flash0 {
        /*
         * For more information, see:
         * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
         */
        partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;

                boot_partition: partition@0 {
                        label = "mcuboot";
                        reg = <0x000000000 0x0000C000>;
                };
                slot0_partition: partition@c000 {
                        label = "image-0";
                        reg = <0x0000C000 0x000067000>;
                };
                slot1_partition: partition@73000 {
                        label = "image-1";
                        reg = <0x00073000 0x000067000>;
                };
                scratch_partition: partition@da000 {
                        label = "image-scratch";
                        reg = <0x000da000 0x0001e000>;
                };

                /*
                 * The flash starting at 0x000f8000 and ending at
                 * 0x000fffff is reserved for use by the application.
                 */

                /* Storage partition will be used by FCB/NFFS/NVS if enabled. */
                storage_partition: partition@f8000 {
                        label = "storage";
                        reg = <0x000f8000 0x00008000>;
                };
        };
};
